body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3136;
    background-image: linear-gradient(
        23deg,
        hsl(49deg 100% 69%) 0%,
        hsl(16deg 80% 61%) 2%,
        hsl(330deg 81% 34%) 12%,
        hsl(259deg 100% 15%) 50%,
        hsl(212deg 100% 25%) 88%,
        hsl(197deg 100% 30%) 98%,
        hsl(183deg 79% 36%) 100%
    );
    color: #dcddde;
    font-family: Arial, sans-serif;
    margin: 0;
}

#login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    background-color: #36393f; /* Match the background color of inputs */
}

h2 {
    margin: 0 0 20px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #4752c4;
}

#error-message {
    color: red;
    margin-top: 10px;
}
