body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3136;
    color: #dcddde;
    font-family: Arial, sans-serif;
    margin: 0;
}

#login-container {
    background-color: #36393f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

h2 {
    margin: 0 0 20px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #4752c4;
}

#error-message {
    color: red;
    margin-top: 10px;
}
#register-container {
    background-color: #36393f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin: auto;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #4752c4;
}

#error-message {
    color: red;
    margin-top: 10px;
}
