body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3136;
    color: #dcddde;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(
        180deg,
        hsl(210deg 100% 50%) 0%,  /* Medium Blue */
        hsl(200deg 80% 45%) 20%,  /* Steel Blue */
        hsl(190deg 81% 40%) 40%,  /* Light Slate Blue */
        hsl(180deg 100% 35%) 60%, /* Cyan */
        hsl(160deg 100% 40%) 80%, /* Teal */
        hsl(140deg 100% 45%) 100% /* Greenish-teal */
    );
}

#chat-container {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    background-color: #40444b;
    text-align: center;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #4f545c;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2f3136;
    color: #dcddde;
    text-align: left;
}

input[type="text"], select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4752c4;
}

