body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f3136;
    background-image: linear-gradient(
        23deg,
        hsl(210deg 100% 50%) 0%,  /* Medium Blue */
        hsl(200deg 80% 45%) 20%,  /* Steel Blue */
        hsl(190deg 81% 40%) 40%,  /* Light Slate Blue */
        hsl(180deg 100% 35%) 60%, /* Cyan */
        hsl(160deg 100% 40%) 80%, /* Teal */
        hsl(140deg 100% 45%) 100% /* Greenish-teal */
    );


    color: #dcddde;
    font-family: Arial, sans-serif;
    margin: 0;
}

#login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    background-color: #40444b;
}

h2 {
    margin: 0 0 20px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4f545c;
    border-radius: 5px;
    background-color: #40444b;
    color: #dcddde;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #4752c4;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5865f2;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #4752c4;
}

#error-message {
    color: red;
    margin-top: 10px;
}

#no-account {
    margin-top: 15px;
    color: #dcddde;
}

#no-account a {
    color: #5865f2;
    text-decoration: none;
}

#no-account a:hover {
    text-decoration: underline;
}
